PORT=5000

MONGODB_URI=mongodb://localhost:27017/tasksync

JWT_SECRET=replace_with_jwt_secret
ACCESS_TOKEN_SECRET=replace_with_access_token_secret
REFRESH_TOKEN_SECRET=replace_with_refresh_token_secret

ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d

FRONTEND_URL=http://localhost:5173
TUNNEL_URL=

SEND_GRID_API=
FROM_EMAIL=

EMAIL_USER=
EMAIL_PASS=

NODE_ENV=development

ARCJET_ENV=development
ARCJET_KEY=